* {
    box-sizing: border-box;
}

/**最上面**/
header {
    background-color: #ea7d59;
    color: #efd43c;
    text-align: center;
    margin: 0px;
    padding: 50px;
}

body {
    background-color: #cd9696;
    margin: 0px;
}

/**目錄超連結**/
nav{
    background-color: #ece55f;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color: #CEEAF7;
    color: black;
}

main {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/**關於我**/
section {
    margin-bottom: 20px;
}

.area {
    background-color: #dbb389;
    padding: 20px;
    margin: 30px auto;
    border-radius: 15px;
    width: 50%;
    flex-direction: row;
}

.about-img {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 50px;
    float: left;
}

.about1 {
    color: #ebebd1;
    font-size: 20px;
    margin-top: 60px;
}

/**聯絡方式**/
.container {
    display: flex;
}

h1 {
    color: #ebebd1;
    font-size: 25px;
}

article {
    flex: 1;
    padding-right: 10px;
}

article a {
    color: #2d6a4f;
    text-align: right;
    font-size: large;
}

article img {
    width: 70px; /* 將圖片的寬度設置為 70 像素 */
    height: auto; /* 將圖片的高度設置為 70 像素，使其成為正方形 */
}

/**專業能力**/
.skill1 {
    color: #557171;
}

/**進度條間距**/
.skill2 {
    margin-bottom: 10px;
}

/**進度條框框長寬高背景**/
.skill3 {
    width: 100%;
    height: 20px;
    background-color: #dbb389;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

/**跑動的進度條本人**/
.skill4 {
    width: 0;
    height: 100%;
    background-color: #cf6f57;
    animation: progressAnimation 2s ease-in-out forwards;
}

@keyframes PYTHON {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@keyframes JAVA {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes HTML {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes CSS {
    from {
        width: 0;
    }

    to {
        width: 45%;
    }
}

aside {
    flex: 2;
    padding-left: 10px;
}

.about-img2 {
    max-width: 500px;
    max-height: 500px;
    margin-top: 0px;
    float: right;
    margin-right: 200px;
    border-radius: 10px;
}

.activity1 {
    color: #cf6f57;
    font-size: 25px;
    text-align: center;
    margin-top: -70px;
}

.activity2 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

/**滑輪主體**/
.slider-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

/**圖片主體**/
.slider {
    display: flex;
    transition: transform 0.5s;
}

/**無限循環**/
.slider.animate {
    animation: play 6s linear infinite;

}

/**圖片大小**/
.slider img {
    width: 500px;
    height: auto;
}

@keyframes play {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.experience1 {
    text-align: center;
    color: #cf6f57;
    font-size: 25px;
}

.school3 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

/**底部**/
footer {
    background-color: #ea7d59;
    color: #ebebd1;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
